<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>chat</title>
    <link rel="stylesheet" href="/static/style.css">
</head>
<body id="htmlbody">
    <div class="nav">
        <h2 class="nav-title">Web Chat Application</h2>
        <div class="themebutton" id="themebutton">
            <div class="sun" id="sun">
            </div>
            <span style="--rotate: 0;" class="sunline"></span>
            <span style="--rotate: 1;" class="sunline"></span>
            <span style="--rotate: 2;" class="sunline"></span>
            <span style="--rotate: 3;" class="sunline"></span>
            <span style="--rotate: 4;" class="sunline"></span>
            <span style="--rotate: 5;" class="sunline"></span>
            <span style="--rotate: 6;" class="sunline"></span>
            <span style="--rotate: 7;" class="sunline"></span>
            <span style="--rotate: 8;" class="sunline"></span>
        </div>
    </div>
    <div class="mainbody">
        <div class="messangerApplication">
            <div class="chattitle">
                <h3 class="namebox">Name</h3>
                <h3 class="roomcode">Room Code: ####</h3>
            </div>
            <div class="chatbox">
            </div>
            <div class="messagesender">
                <input type="text" placeholder="Type your message..." class="msginput">
                <button class="sendinput">SEND</button>
            </div>
        </div>
        <div class="entrybox" id="entryboxroom">
            <div class="container">
                <h2 id="title">Enter Room No</h2>
                <input type="number" pattern="^[0-9]{4}$" class="input-box" id="inputroom">
                <div>
                    <button onclick="sendmsg()" class="button">Submit</button>
                </div>
                <p id="roomerrormsg"></p>
            </div>
            <input type="hidden" value={{count}} id="count">
        </div>
    </div>
    <script>
        let theme = document.getElementById("themebutton");
        let inputname = document.getElementById("inputname");

        theme.addEventListener("click", ()=>{
            let sun = document.getElementById("sun");
            let htmlbody = document.getElementById("htmlbody");
            htmlbody.classList.toggle("secondarycolor");
            sun.classList.toggle("moon");
        })

        function closeopen(id){
            let entrybox = document.getElementById(id);
            entrybox.classList.toggle("close");
        }

    </script>
</body>
</html>